.banner{
    background-image: url('../../../assets/img/picp.jpg');
    height: 456px;
    background-position: center center;
    background-size: cover;
}
.banner-text h1{
    color:black;    
    font-weight: bold;
    font-style: italic;

}

.banner-text{
    padding-top: 20px;
    padding-left: 20px;
    top: 10%;
    right: 5%;
    position: absolute;
    font-size: 40px;
}

.banner-text a{
    text-decoration: none;
    background-color:ghostwhite;
    color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 10px;
}

.banner-text a:hover{
    background-color: var(--primary-color);
    color: ghostwhite;
}