<div class="banner">
    <div class="banner-text mb-5">
        <h1>Some Random Writeups on <br> Programming, <br> Travelling, <br> Games and stuffs</h1>
        <a routerLink="articles"><i class="bi bi-arrow-right"></i>Read More</a>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-3" *ngFor="let post of postsData">
            <div class="articlebox">
                <img src="{{post.postBackground}}"/>
                <h1>{{post.postHeading}}</h1>
                <p>{{post.postSubHeading}}</p>
            </div>
        </div>
    </div>
    <a routerLink="articles" class="viewButton">Read More <i class="bi bi-arrow-right"></i></a>
</div>